<div *ngIf="selectedGroup">
    <div>
        <label for="Groups_ID">group.Groups_ID: </label>
        <input id="Groups_ID" [(ngModel)]="selectedGroup.Group_ID" >
    </div>    
    <div>
        <label for="Groups_Number">Groups_Number: </label>
        <input id="Groups_Number" [(ngModel)]="selectedGroup.Group_Number" >
    </div>    
    <div>
        <label for="Department_ID">Department_ID: </label>
        <input id="Department_ID" [(ngModel)]="selectedGroup.Department_ID" >
    </div>    
    <div>
        <label for="Year_Of_Create">Year_Of_Create: </label>
        <input id="Year_Of_Create" [(ngModel)]="selectedGroup.Year_Of_Create" >
    </div>    
</div> 